.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

.navbar, .nav {
    background-color:#fce700;
}

.logo_size {
    height:80px;
    width:auto;
   
}
 



.navbar-nav li a {
 line-height: 50px;
}



.first-section {
    padding-top:200px;
    height:auto;
    background-color:#FEFFDA;
    width:100%;
    border-bottom: 1px solid #4D4D4D;
  
        
        
        
    
}

.background-yellow {
    background-color:#FEFFDA;
    width:100%;   
    border-bottom: 1px solid #4D4D4D;
}    

.background-white {
    background-color:#FFFFFF;
    width:100%;   
    border-bottom: 1px solid #4D4D4D;
}   


.second-section {
    
    text-align:center;
    background-color:#FFFFFF;
    width:100%;
    border-bottom: 1px solid #4D4D4D;
    margin: 0;
    padding-bottom: 100px;
        
        
    
}

.container {
    margin-top:50px;
    margin-bottom:25px;
}

.title-header {
    padding-bottom:100px;
    text-align: center;
    
}
.hero-phone {
    vertical-align:bottom;
    margin:0;
    padding:0;
    display:block;

}

body {

    font-family: 'Open Sans';
    color:#4D4D4D;
}
h1 {
    font-size:56px;
    font-family: 'Open Sans';
    font-weight: 300;
    
}

h2 {
    font-size:26px;
}

.btn-large {

    padding: 10 5 10 5;
    margin-right: 10px;
        
        
        
    height: 50px;
}
        

.btn:hover {
    color: white;
}
.cta {
    background-color: #FCE700;
    font-weight: 600;
}
 
.cta:hover {
    background-color: #AF9B0C;
    font-weight: 600;
    color: #ffffff;
        
}

footer {
    background-color:#4D4D4D;
    height: 80px;
        
}

.lead {
    padding-top: 40px;
}        
        